body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #222;
    height: 100vh;
    overflow-x: hidden;
    background-color: #333;
}

.container {
    background-color: #fafafa;
    min-width: 100vw;
    padding: 50px;
    transition: transform 0.5s linear;
    transform-origin: top left;
}

.container.show-nav {
    transform: rotate(-30deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.container.show-nav+.sitenav li{
    transform: translateX(0);
    transition-delay: 0.3s;
}

.cirlce {
    background-color: #ff7979;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.cirlce button {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
}

.cirlce button:focus {
    outline: none;
}

.cirlce button#open {
    left: 60%;
}

.cirlce button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.content {
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
}

.content-heading {
    margin: 0;
}

.content-author {
    color: #555;
    font-style: italic;
}

.content-text {
    color: #333;
    /* line-height: 1.5px; */
}

img{
    display: flex;
    width: 100%;
}
.sitenav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

.sitenav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

.sitenav-list li+li{
    margin-left: 15px;
    transform: translateX(-150%);
}

.sitenav-list li+li+li{
    margin-left: 30px;
    transform: translateX(-200%);
}

.sitenav-item {
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}
.container.show-nav .cirlce{
    transform: rotate(-70deg);
}

.sitenav-link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.sitenav-link:hover{
    color: #ff7979;
}

.sitenav-link i{
    margin-right: 10px;
}
